In [95]:
import pandas as pd
import numpy as np

In [96]:
COIN = 100 * 1000 * 1000

In [97]:
pd.set_option('display.float_format', lambda x: '%.9f' % x)

In [98]:
df = pd.read_csv('btc_audit_data_v2.csv', low_memory=False, 
              #   dtype={'height': 'Int64'}
                )

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644829 entries, 0 to 644828
Data columns (total 16 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   height                                           644829 non-null  int64
 1   bestblock                                        644829 non-null  object
 2   txouts                                           644829 non-null  int64
 3   bogosize                                         644829 non-null  int64
 4   disk_size                                        644829 non-null  int64
 5   total_amount                                     644829 non-null  float64
 6   total_unspendable_amount                         644829 non-null  float64
 7   block_info_unspendable_amount                    644829 non-null  float64
 8   block_info_total_prevout_spent_amount            644829 non-null  float64
 9   block_info_total_new_outputs_ex_coinbase_amount  644829 non-null  float64
 10  block_info_coinbase_amount                       644829 non-null  float64
 11  total_unspendable                                644829 non-null  float64
 12  expected_issuance                                644829 non-null  float64
 13  total_expected_issuance                          644829 non-null  float64
 14  expected_spendable                               644829 non-null  float64
 15  reconciliation                                   644829 non-null  float64
dtypes: float64(11), int64(4), object(1)
memory usage: 78.7+ MB

In [99]:
# Are there any missing blocks?
seq = pd.RangeIndex(df.height.min(), df.height.max())
len(seq[~seq.isin(df.height)].values) != 0

False

In [100]:
df['total_unspendable'] = df.block_info_unspendable_amount.cumsum()

In [101]:
df['expected_issuance'] = (df.height.apply(lambda x: 50 * COIN >> int(x/210000))) / COIN

In [102]:
df['total_expected_issuance'] = df.expected_issuance.cumsum()

In [103]:
df['expected_spendable'] = df.total_expected_issuance - df.total_unspendable

In [111]:
df['reconciliation'] = round((df.total_expected_issuance - df.total_unspendable - df.total_amount) * COIN)

In [112]:
df[df.reconciliation != 0]

Empty DataFrame
Columns: [height, bestblock, txouts, bogosize, disk_size, total_amount, total_unspendable_amount, block_info_unspendable_amount, block_info_total_prevout_spent_amount, block_info_total_new_outputs_ex_coinbase_amount, block_info_coinbase_amount, total_unspendable, expected_issuance, total_expected_issuance, expected_spendable, reconciliation]
Index: []

In [114]:
df

,height,bestblock,txouts,bogosize,disk_size,total_amount,total_unspendable_amount,block_info_unspendable_amount,block_info_total_prevout_spent_amount,block_info_total_new_outputs_ex_coinbase_amount,block_info_coinbase_amount,total_unspendable,expected_issuance,total_expected_issuance,expected_spendable,reconciliation
0,0,000000000019d6689c085ae165831e934ff763ae46a2a6...,0,0,4790791391,0.000000000,50.000000000,50.000000000,0.000000000,0.000000000,0.000000000,50.000000000,50.000000000,50.000000000,0.000000000,0.000000000
1,1,00000000839a8e6886ab5951d76f411475428afc90947e...,1,117,4790791391,50.000000000,50.000000000,0.000000000,0.000000000,0.000000000,50.000000000,50.000000000,50.000000000,100.000000000,50.000000000,0.000000000
2,2,000000006a625f06636b8bb6ac7b960a8d03705d1ace08...,2,234,4790791391,100.000000000,50.000000000,0.000000000,0.000000000,0.000000000,50.000000000,50.000000000,50.000000000,150.000000000,100.000000000,0.000000000
3,3,0000000082b5015589a3fdf2d4baff403e6f0be035a5d9...,3,351,4790791391,150.000000000,50.000000000,0.000000000,0.000000000,0.000000000,50.000000000,50.000000000,50.000000000,200.000000000,150.000000000,0.000000000
4,4,000000004ebadb55ee9096c9a2f8880e09da59c0d68b1c...,4,468,4790791391,200.000000000,50.000000000,0.000000000,0.000000000,0.000000000,50.000000000,50.000000000,50.000000000,250.000000000,200.000000000,0.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644824,644824,00000000000000000002e14492e72922fe062c36dea77d...,66709291,5010392656,4797319120,18467473.378559951,182.871440050,0.000000000,10363.072213410,10362.564283730,6.757929680,182.871440050,6.250000000,18467656.250000000,18467473.378559951,0.000000000
644825,644825,000000000000000000025cf37c570c42bb861245c018c9...,66711048,5010522004,4797723768,18467479.628559951,182.871440050,0.000000000,21144.342904540,21143.244804940,7.348099600,182.871440050,6.250000000,18467662.500000000,18467479.628559951,0.000000000
644826,644826,000000000000000000065ce2dc6535c834c8e84347c77d...,66710642,5010490335,4797433185,18467485.878559951,182.871440050,0.000000000,2101.046052820,2100.547540410,6.748512410,182.871440050,6.250000000,18467668.750000000,18467485.878559951,0.000000000
644827,644827,00000000000000000002387496cb438e502aa23e38a4fc...,66709252,5010388150,4798415629,18467492.128554381,182.871445620,0.000005570,9198.903329140,9198.701661770,6.451661800,182.871445620,6.250000000,18467675.000000000,18467492.128554381,0.000000000
644828,644828,000000000000000000046bfb7e272f1d7ebc9919644f47...,66707893,5010287452,4797511935,18467498.378554381,182.871445620,0.000000000,2698.447878770,2697.919812790,6.778065980,182.871445620,6.250000000,18467681.250000000,18467498.378554381,0.000000000